.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.for {
    float: center;
    padding: 25px;

}

.split {
    position: relative;
    top: 0px;
    border: none;
    height: 10px;
    background: black;
    margin-bottom: 1px;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

a { 
    width:1000px;
    height:75px;
  }

.box{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    float:left;
    height: 175px;
    width: 250px;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    margin: 40px;
    text-align: center;
}
.box2{box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    float: right;
    height: 175px;
    width: 250px;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
}
